* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.menue-bar{
    margin-right: 20px;
    margin-top: 10px;
}

.gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

input {
    font-size: 15px;
    color: #a7a7a7;
    width: 311px;
    height: 50px;
    padding-left: 20px;
    margin: 10px 0;
    border: 1px solid #c0c0c0;
    border-radius: 30px ;
    background-color: #f4f4f4;
}

.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    width: 311px;
    height: 64px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #199a8e;
}

.BMI {
    display: flex;
    justify-content: center;
    align-items: center;
    align-text: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    width: 248px;
    height: 118px;
    background-color: red;
    border-radius: 20px;
}