*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    position: relative;
    top : 170px;
    left: 100px;
    display: inline-block;
}
h1{
    color: #101623;
    font-family: 'Inter';
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    top:200px;
    right: 100px;
    left: -60px;
}
p{
    color: #717784;
    position: relative;
    right: 100px;
    top: 35px;
    left: -17px;
    font-family: 'Inter','Regular';
    text-align: center;
}
#login{
    position: relative;
    top: 300px;
    left: 90px;
    background-color: #199A8E;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Inter';
    font-size: 1.5rem;
    cursor: pointer;
}
#signup{
    position: relative;
    top: 330px;
    left: 90px;
    background-color: #199A8E;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Inter';
    font-size: 1.5rem;
    cursor: pointer;
}